body{
  text-align: center;
  font-family: 'Inconsolata', monospace;
  background-image: url("../img/code2.jpg");
  background-size: cover;
}
.container {
  border: 1px solid #568e8f;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #fff;
  opacity: .9;
}
.row {
  padding: 1rem;
}
#output, #phplogo, #javalogo, #rubylogo{
  display:none;
}
/*styling the submit button*/
.btn-success {
  background-color: #568e8f;
  border-color: #568e8f;
}
.btn-success:hover {
  background-color: #80b2b3;
  border-color: #80b2b3;
}
button{
  margin-top: 3rem;
}
/*headings style*/
h1 {
  color: #0d0d0d;
}
h2{
  margin-bottom: 5rem;
  font-size: 2em;
  color: #568e8f;
}
h3 {
  color: #a22a2a;
}
/*Radio buttons font size, padding, and colors*/
label {
  font-size: 1.3em;
  padding: 5px;
}
label.blue{
  color:#1f49c7;
}
label.green{
  color: #33995d;
}
label.purple{
  color:#9932cc;
}
/*Fixing radio button position and border line*/
.form-control {
  -webkit-box-shadow: none;
}
input[type=radio] {
    margin: -6px 0 0;
  }
.radio input[type=radio]{
  margin-left: -25px;
}
/*Capitalizing user names*/
.name{
  text-transform:capitalize;
}
